﻿@model Product

@{
    ViewData["Title"] = Model.Title;
}

<h1>@Model.Title</h1>
<p>Price: <em>@Model.ID CZK</em></p>

<h2>Description</h2>
<p>
    @Model.Description
</p>

<hr />
<div>
    <a asp-action="Index">Back to the list</a>
</div>
