﻿@model IEnumerable<Product>

@{
    ViewData["Title"] = "Homepage";
}

<h1>Look at our products</h1>

@if(Model != null) {
<ul id="Products">
    @foreach (Product product in Model) {
    <li class="Product">
        <a asp-action="Detail" asp-route-id="@product.ID">
            <strong>@product.Title</strong>
            &middot;
            for <em>@product.Price CZK</em>
        </a>
    </li>
    }
</ul>
}
