﻿@model AddTaskForm
@{
    ViewData["Title"] = "Index";
}

<h2>Todo List</h2>

@using (Html.BeginForm())
{
    @Html.ValidationMessageFor(x => x.Title)
    @Html.LabelFor(x => x.Title)
    @Html.TextBoxFor(x => x.Title)
    <button type="submit">Add</button>
}

<div>
    @ViewBag.Tasks
</div>

<div>
    <a href="@Url.Action("Logout")">Log out</a>
</div>
