﻿@model AddToCartForm
@{
    ViewData["Title"] = "Detail";
}

<h2>Detail produktu @ViewBag.product.Title</h2>

@using (Html.BeginForm())
{ 
    @Html.HiddenFor(x => x.ProductId)

    <div>

        @Html.LabelFor(x => x.Amount)
        @Html.TextBoxFor(x => x.Amount)
        @Html.ValidationMessageFor(x => x.Amount)

    </div>

    <input type="submit" value="Přidat" />

}
