﻿@{
    ViewData["Title"] = "Home Page";
}

<h1>Seznam produktů</h1>

@{ foreach (Product product in ViewBag.products)
    {
        <div>
            <h3>@product.Title</h3>
            <span>@product.Price</span>
            <a href="@Url.Action("Detail", "Home", new { id = product.ID })">Detail</a>
        </div>
    }
}