﻿@model LoginForm
@{
    ViewData["Title"] = "Login Page";
}

<h1>Login</h1>

@using (Html.BeginForm())
{
<div>
    @Html.LabelFor(x => x.Email)
    @Html.TextBoxFor(x => x.Email)
    @Html.ValidationMessageFor(x => x.Email)
</div>
<div>
    @Html.LabelFor(x => x.Password)
    @Html.PasswordFor(x => x.Password)
    @Html.ValidationMessageFor(x => x.Password)
</div>
<div>
    <button type="submit">Log in</button>
</div>

}
